/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #0c0c0c;
    color: #fafafa;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}

button {
    cursor: pointer;
}

.loading {
    color: red;
    font-size: 30px;
    text-align: center;
}
